<!DOCTYPE html>
<html ng-app='APARTFIND'>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="thirdparty/bootstrap.min.css">

	</link>
</head>
<body ng-controller ="ApartmentController as apart">
<script type="text/javascript" src="thirdparty/angular.min.js"></script>
<script src="thirdparty/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<h1>{{"Welcome to ApartmentFinder"}}</h1>

<div ng-repeat="aparttype in apart.apartmentype | orderBy:'-price'">
	<h3 ng-include ="'apartment-price.html'">
	</h3>
	<br/>
	<br/>
	<br/>
	<p>{{aparttype.description}}</p>
	<button ng-show="aparttype.isAvailable">Hold Now</button>


	<section class="tab" ng-controller ="TabController as tab">
		<ul class="nav nav-pills">
			<li ng-class = "{active:tab.isSet(1)}">
				<a href ng-click = "tab.setTab(1)">Description</a></li>
			<li ng-class = "{active:tab.isSet(2)}">
				<a href ng-click = "tab.setTab(2)">Neighbourhood</a></li>
			<li ng-class = "{active:tab.isSet(3)}">
				<a href ng-click = "tab.setTab(3)">Reviews</a></li>
		</ul>
		<div ng-show = "tab.isSet(1)">
			<h4>Description</h4>
			<blockquote>{{aparttype.description}}</blockquote>
		</div>
		<div ng-show = "tab.isSet(2)">
			<h4>Neighbourhood</h4>
			<blockquote>Stars</blockquote>
		</div>
		<div ng-show = "tab.isSet(3)">
			<h4>Reviews</h4>
			<li ng-repeat = "review in aparttype.reviews">
				<blockquote>
					<strong>{{review.stars}}:Stars</strong>
					{{review.body}}
					<cite class="clearfix">by:{{review.author}}</cite>
				</blockquote>
			</li>
			<!--  Review Form -->
			<form name="reviewForm">

				<!--  Live Preview -->
				<blockquote ng-show="review">
					<strong>{{review.stars}} Stars</strong>
					{{review.body}}
					<cite class="clearfix">—{{review.author}}</cite>
				</blockquote>

			<h4>Submit a Review</h4>
			<fieldset class="form-group">
				<select ng-model ="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
					<option value="">Rate the Apartment</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<textarea ng-model ="review.body" class="form-control" placeholder="Write a short review of the Apartment..." title="Review"></textarea>
			</fieldset>
			<fieldset class="form-group">
				<input ng-model ="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
			</fieldset>
			<fieldset class="form-group">
				<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
			</fieldset>
			</form>
		</div>
	</section>

	<!--<div>
		Search :<input ng-model = "query" ng-click ="isQueried = true">
	</div>

	<div class = "col-md-13" ng-repeat="aparttype in apart.apartmentype | filter:query">
		<h3 ng-show ="isQueried">THIS IS :::{{aparttype.name}}</h3>
	</div>-->

</div>
</body>
</html>